.password-recovery-form {
  height: max-content;
  padding: 1rem;
  border: 0.2rem solid #ececec;
  border-radius: 8px;
  margin-right: 0;
  margin-left: 0;
  color: #212529;
  transition: ease all 0.5s;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 24vmin;

  .go-back {
    margin-top: -1.2vmin;
    margin-left: -6vmin;
    margin-right: 1vmin;
  }
  .go-to-registry-page {
    display: inline-block;
    color: #fff;
    border-color: #0d6efd;
    background-color: #0d6efd;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),
      0 1px 1px rgba(0, 0, 0, 0.075);
    padding: 0.3rem;
    padding-top: 0;
    text-decoration: none;
    border-radius: 0.375rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: -10px;
  }
  .go-to-registry-page:hover {
    background-color: #0b5ed7;
    border-color: #0a58ca;
  }
}
.password-recovery-form-part2 {
  margin-top: 22vmin;
  height: max-content;
  padding: 1rem;
  border: 0.2rem solid #ececec;
  border-radius: 8px;
  margin-right: 0;
  margin-left: 0;
  color: #212529;
  transition: ease all 0.5s;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 24vmin;
  .feedback-invalid {
    line-height: 0;
    margin-bottom: 25px;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.875em;
    color: #dc3545;
  }
}
